
body{
    margin: 0;
    font-family: Arial;
    background-color: antiquewhite;
}

.sidebar{
    width: 250px;
    height: 600px;
    background-color: cadetblue;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.sidebar{
    overflow-x: hidden;
    transition-duration:0.5s;
    padding: 20px;
}

.sidebar p{
    color: bisque;
    padding: 10px;
    cursor: pointer;
}

.sidebar p:hover{
    opacity: 0.7;
}

#openSidebarBtn{
    background-color: rgb(79, 179, 179);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    margin: 15px;
}

#openSidebarBtn:hover{
    opacity: 0.6;
}

#closeSidebarBtn{
    background-color: rgb(249, 237, 180);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    color: rgb(13, 93, 96);
    cursor: pointer;
}

#closeSidebarBtn:hover{
    opacity: 0.6;
}


/* Write CSS code here */