
body{
    margin: 0;
    font-family: Arial;
    background-color: antiquewhite;
}

.sidebar{
    width: 250px;
    height: 600px;
    background-color: cadetblue;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.sidebar{
    overflow-x: hidden;
    transition-duration:0.5s;
    padding: 20px;
}

/* Write CSS code here */