
body{
    margin: 0;
    font-family: Arial;
    background-color: antiquewhite;
}

.sidebar{
    width: 250px;
    height: 600px;
    background-color: cadetblue;
    position: fixed;
    box-sizing: border-box;
}

/* Write CSS code here */